@model IEnumerable<LiteraryMaze.Data.Book>

@{
	ViewData["Title"] = "Index";
}
@if (User.IsInRole("Admin"))
{
	<p class="crateNew">
		<a asp-action="Create" class="btn-link">Добави нова книга</a>
	</p>
}

<div class="four-books">
	@foreach (var item in Model)
	{

		<div class="book">


			<a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.ImageURL)" width="200" height="300" /></a>
			<h4>
				@Html.DisplayFor(modelItem => item.Name)
			</h4>
			<h6>
				@Html.DisplayFor(modelItem => item.Authors.Name)
			</h6>
			<h6 class="grey">@Html.DisplayFor(modelItem => item.Publishers.Name)</h6>
			<h6>
				@Html.DisplayFor(modelItem => item.Price)
			</h6>
			@if (User.IsInRole("Admin"))
			{
				<a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
				<a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
			}

		</div>

	}
	
</div>

